@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NunitoLight";
  src: url("/fonts/Nunito_light.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #df2147 !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border: 1px solid #df2147 !important;
  background-color: transparent !important;
}

.backgourndGradient {
  background:
    url("/images/background-overlay.png") center bottom / 1393px 795px repeat-x,
    linear-gradient(
      51.05deg,
      rgb(238, 34, 56) -57.1%,
      rgb(191, 29, 103) 156.72%
    );
}

.backgourndGradientGreen {
  background:
    url("/images/background-overlay.png") center bottom / 1393px 795px repeat-x,
    linear-gradient(rgb(0, 227, 236) 0%, rgb(0, 235, 132) 100%);
}

@media screen and (min-width: 960px) {
  .centerSlider .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1168px) {
  .centerSliderUsage .swiper-wrapper {
    justify-content: center;
  }
}

@media screen and (min-width: 1290px) {
  .centerSliderParole .swiper-wrapper {
    justify-content: center;
  }
}

@media screen and (min-width: 1581px) {
  .partenaire .swiper-wrapper {
    display: flex;
    justify-content: center;
  }
}
